<div class="container container-custom about-us-container" id="about-us">
    <div class="row">
        <!-- COLONNA SX -->
        <div class="col-12 col-lg-1 col-xxl-2"></div>

        <!-- COLONNA CENTRALE -->
        <div class="col-12 col-lg-10 col-xxl-8">
            <!--TITOLO-->
            <h1 class="section-title text-start">
                <span class="title-first-part">La nostra</span>
                <br />
                <span class="title-second-part">storia</span>
            </h1>

            <div class="about-us-grid">
                <div class="about-us-img-container">
                    <img src="../assets/img/hero_images/hero_image.jpg" class="img-about-us">
                </div>

                <div class="about-us-item">
                    <div class="about-us-description font-description">
                        <p>
                            Halmaci Edilizia S.R.L.S. è un’azienda edile con una lunga esperienza nel settore,
                            riconosciuta
                            per
                            professionalità, affidabilità e passione per la qualità. Da anni ci impegniamo a trasformare
                            le
                            idee
                            dei
                            nostri clienti in progetti concreti, sicuri e duraturi, seguendo ogni fase del lavoro con
                            precisione
                            e
                            cura dei dettagli.
                        </p>

                        <p>
                            Il nostro team è composto da ingegneri, architetti e tecnici altamente qualificati, che
                            mettono
                            competenza
                            e dedizione in ogni progetto. Che si tratti di nuove costruzioni, ristrutturazioni su misura
                            o
                            interventi
                            commerciali, affrontiamo ogni sfida con attenzione, innovazione e professionalità,
                            garantendo
                            risultati
                            che superano le aspettative.
                        </p>

                        <p>
                            Crediamo che ogni progetto sia più di un semplice lavoro: è un impegno verso i nostri
                            clienti e
                            la
                            qualità
                            del nostro mestiere. Selezioniamo i materiali migliori, applichiamo tecniche costruttive
                            avanzate e
                            monitoriamo ogni fase dei lavori, assicurando sicurezza, efficienza e risultati duraturi.
                        </p>

                        <p>
                            La nostra reputazione si fonda sulla trasparenza, sulla capacità di ascoltare le esigenze
                            dei
                            clienti e
                            sulla voglia di offrire soluzioni su misura. Ogni cantiere diventa un’esperienza unica, in
                            cui
                            professionalità, precisione e passione si combinano per creare edifici e spazi che non solo
                            rispondono
                            alle necessità dei clienti, ma trasmettono anche un senso di qualità e affidabilità.
                        </p>

                        <p>
                            Con Halmaci Edilizia S.R.L.S., ogni progetto diventa un risultato tangibile, un’esperienza
                            positiva
                            e un
                            esempio di eccellenza nel settore edile. Ci prendiamo cura di ogni dettaglio, trasformando
                            ogni
                            idea
                            in
                            una realizzazione concreta e duratura, con uno sguardo sempre attento alla qualità, alla
                            sicurezza e
                            alla
                            soddisfazione del cliente.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- COLONNA DX -->
    <div class="col-12 col-lg-1 col-xxl-2"></div>
</div>