<div class="about-us-container pb-5" id="about-us">
    <h1 class="section-title text-center">
        <span>Chi Siamo</span>
    </h1>

    <div class="row about-us-div">

        <!-- IMG -->
        <div class="col-12 col-xl-6 about-us-item text-center align-content-center pb-3 p-xl-0">
            <!-- <p class="about-us-img text-justify px-5"> -->
            <img class="about-us-img" src="../assets/img/hero_images/hero_image.jpg">
            <!-- </p> -->
             <p class="about-us-description font-description text-justify px-5">
                Dall’esperienza ultradecennale di Alessandro Esposito nasce Esan Costruzioni, una realtà che combina valori tradizionali e competenze moderne. Alessandro, ha mosso i primi passi nella storica azienda di famiglia, Edilpunto, guidata dal padre Salvatore. Qui ha sviluppato la sua creatività e competenza tecnica, collaborando nel tempo con numerosi professionisti per affinare le sue capacità progettuali. Nel 2017, Alessandro ha dato vita a Esan Costruzioni, punto di riferimento nell’edilizia campana e nazionale. Con un team qualificato, l’azienda si distingue per soluzioni innovative, l’attenzione alla ricerca tecnica ed organizzativa e un servizio di assistenza impeccabile.
            </p>
        </div>

        <!-- CHI SIAMO -->
        <div class="col-12 col-xl-6 about-us-item text-center services-borders p-xl-0">
            <!-- DESCRIZIONE CHI SIAMO -->
            <p class="about-us-description font-description text-justify px-5">
                Dall’esperienza ultradecennale di Alessandro Esposito nasce Esan Costruzioni, una realtà che combina valori tradizionali e competenze moderne. Alessandro, ha mosso i primi passi nella storica azienda di famiglia, Edilpunto, guidata dal padre Salvatore. Qui ha sviluppato la sua creatività e competenza tecnica, collaborando nel tempo con numerosi professionisti per affinare le sue capacità progettuali. Nel 2017, Alessandro ha dato vita a Esan Costruzioni, punto di riferimento nell’edilizia campana e nazionale. Con un team qualificato, l’azienda si distingue per soluzioni innovative, l’attenzione alla ricerca tecnica ed organizzativa e un servizio di assistenza impeccabile.
            </p>
        </div>
</div>