<div class="container container-custom about-us-container pb-5" id="about-us">

    <h1 class="section-title text-center">
        <span>Chi Siamo</span>
    </h1>

    <div class="row about-us-div align-items-stretch">

        <!-- BLOCCO SX -->
        <div class="col-12 col-xl-3 px-5">

            <div class="about-left">

                <!-- IMG -->
                <div class="about-img">
                    <img src="../assets/img/hero_images/hero_image.jpg">
                </div>

                <!-- TESTO -->
                <div class="about-text">
                    <p class="about-us-description font-description text-justify ps-3"> Dall’esperienza ultradecennale
                        di Alessandro Esposito nasce Esan Costruzioni, una realtà che combina valori tradizionali e
                        competenze moderne. Alessandro, ha mosso i primi passi nella storica azienda di famiglia,
                        Edilpunto, guidata dal padre Salvatore. Qui ha sviluppato la sua creatività e competenza
                        tecnica, collaborando nel tempo con numerosi professionisti per affinare le sue capacità
                        progettuali. Nel 2017, Alessandro ha dato vita a Esan Costruzioni, punto di riferimento
                        nell’edilizia campana e nazionale. Con un team qualificato, l’azienda si distingue per soluzioni
                        innovative, l’attenzione alla ricerca tecnica ed organizzativa e un servizio di assistenza
                        impeccabile. 
                    </p>
                </div>

            </div>

        </div>

        <!-- FORM -->
        <div class="col-12 col-xl-7 services-borders">
            <div class="p-5">
                <p>placeholder form</p>
            </div>
        </div>

    </div>

</div>