<footer class="container container-custom">
    <div class="row text-center text-md-start g-3 g-xl-4">
        <!-- COLONNA 1 — BRAND -->
        <div
            class="footer-col col-12 col-xl-4 text-center d-flex flex-column justify-content-center align-items-center">
            <!-- LOGO -->
            <a href="#" class="link">
                <img src="../assets/img/logo_halmaci_testo_destra_bianco.svg" width="230px" height="75px"
                    style="object-fit: cover;" class="mb-4 mb-xl-0">
            </a>
        </div>

        <!-- COLONNA 2 — ORARI -->
        <div class="footer-col col-12 col-xl-4 text-center column-workhours">
            <h6 class="footer-section-title mb-3 mb-xl-5"><span>Orari</span></h6>
            <div class="container-workhours mx-auto paragraph">
                <div class="d-flex justify-content-between poppins-light mb-3">
                    <span>Lun - Ven</span>
                    <span>08:30 - 18:30</span>
                </div>
                <div class="d-flex justify-content-between poppins-light mb-3">
                    <span>Sabato</span>
                    <span>08:30 - 13:30</span>
                </div>
                <div class="d-flex justify-content-between poppins-light opacity-75">
                    <span>Domenica</span>
                    <span>Chiuso</span>
                </div>
            </div>
        </div>

        <!-- COLONNA 3 — CONTATTI / SOCIAL -->
        <div class="footer-col col-12 col-xl-4 text-center column-social">
            <div class="row gap-4">

                <!-- CONTATTI -->
                <div clas="col">
                    <h6 class="footer-section-title mb-4"><span>Contatti</span></h6>
                    <div class="contatti-footer">

                        <!-- TELEFONO -->
                        <a href="tel:+393459876453" class="link d-block text-white text-decoration-none mb-3">
                            <i class="bi bi-telephone-fill me-2"></i><span class="paragraph">+39&nbsp;3459876453</span>
                        </a>

                        <!-- EMAIL -->
                        <a href="mailto:halmaciediliziasrls@gmail.com"
                            class="link d-block text-white text-decoration-none mb-3 mb-xl-1">
                            <i class="bi bi-envelope-fill me-2"></i><span
                                class="paragraph">halmaciediliziasrls@gmail.com</span>
                        </a>
                    </div>
                </div>

                <!-- SEGUICI -->
                <div class="col">
                    <h6 class="footer-section-title mb-4"><span>Seguici</span></h6>
                    <div
                        class="footer-social d-flex flex-row gap-3 justify-content-center align-items-center">
                        <a href="#" class="social-item facebook">
                            <i class="bi bi-facebook"></i>
                        </a>
                        <a href="#" class="social-item instagram">
                            <i class="bi bi-instagram"></i>
                        </a>
                        <a href="#" class="social-item tiktok">
                            <i class="bi bi-tiktok"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-bottom-copyright text-center pt-3">
        <p class="poppins-light p-2 m-0 paragraph">
            &copy; 2026 Halmaci Edilizia S.R.L.S. — Tutti i diritti sono riservati.
        </p>
    </div>
</footer>