<section class="hero d-flex align-items-center">
    <div class="container container-custom">
        <div class="row">
            <!-- COLONNA SX -->
            <div class="col-12 col-lg-2"></div>

            <!-- COLONNA CENTRALE -->
            <div class="col-12 col-lg-8 hero-container">
                <h1 class="hero-title poppins-bold reveal">
                    Impresa Edile per Ristrutturazioni, Muratura e Intonaco
                </h1>

                <p class="hero-subtitle inter mt-3 reveal">
                    Lavori edili professionali per case, condomini e attività
                    commerciali. Preventivo gratuito e interventi rapidi.
                </p>

                <div class="btn-hero-container d-flex gap-3 mt-4 justify-content-lg-start justify-content-center flex-wrap reveal">

                    <a href="#contact-us" class="btn-custom btn-hero">
                        <i class="bi bi-tools me-2"></i>
                        <span>Contattaci</span>
                    </a>

                    <a href="tel:+393347924206" class="btn-custom btn-call-now btn-hero">
                        <i class="bi bi-telephone-fill me-2"></i>
                        <span>Chiama Ora</span>
                    </a>

                </div>

                <div class="hero-trust mt-4">
                    <small class="d-flex flex-column flex-md-row">
                        <span class="reveal delay-1 m-2">
                            <i class="bi bi-check-lg"></i>
                            15+ anni di esperienza
                        </span>

                        <span class="reveal delay-3 m-2">
                            <i class="bi bi-check-lg"></i>
                            Preventivo gratuito
                        </span>

                        <span class="reveal delay-5 m-2">
                            <i class="bi bi-check-lg"></i>
                            Risultato garantito
                        </span>
                    </small>
                </div>

            </div>
        </div>

        <!-- COLONNA DX -->
        <div class="col-12 col-lg-2"></div>
    </div>
</section>