<nav class="navbar navbar-expand-lg custom-navbar p-0 m-0">
    <div class="container container-navbar">

        <!-- LOGO -->
        <a class="navbar-brand fw-bold" href="#">
            <img class="logo" src="../assets/img/logo_halmaci_testo_destra.svg" width="200px" height="80px"
                class="d-block" style="object-fit: cover;">
        </a>

        <!-- TASTO HAMBURGER -->
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-lg-center text-end" id="mainNavbar">

            <!-- VOCI NAVBAR -->
            <ul class="navbar-nav ms-auto m-xl-auto poppins-regular">
                <li class="nav-item">
                    <i class="fa-solid fa-phone"></i>
                    <a class="nav-link text-uppercase" href="#hero">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-phone"></i>
                    <a class="nav-link text-uppercase" href="#servizi">
                        Servizi
                    </a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-phone"></i>
                    <a class="nav-link text-uppercase" href="#">
                        Progetti
                    </a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-phone"></i>
                    <a class="nav-link text-uppercase" href="#">
                        Contatti
                    </a>
                </li>
                <li class="nav-item">
                    <i class="fa-solid fa-phone"></i>
                    <a class="nav-link text-uppercase" href="#">
                        Lavora con noi
                    </a>
                </li>
            </ul>

            <!-- CTA Chiama Ora -->
            <div class="pt-3 pt-lg-0">
                <a href="tel:+391234567890" class="btn-custom btn-call-now">
                    <i class="bi bi-telephone-fill"></i>
                    <span>Chiama Ora</span>
                </a>
            </div>
            
        </div>
    </div>
</nav>