<div class="container container-custom service-container pb-5" id="servizi">
    <h1 class="section-title text-center">
        <span>Servizi</span>
    </h1>

    <div class="row services-list">

        <!-- SERVIZIO -->
        <div class="col-12 col-xl-4 service-item text-center pb-3 p-xl-0">
            <!-- ICONA -->
            <i class="service-icon bi bi-wrench-adjustable"></i>
            <!-- TITOLO SERVIZIO -->
            <h3 class="service-title font-title">Ristrutturazioni Edili</h3>
            <!-- DESCRIZIONE SERVIZIO -->
            <p class="service-description font-paragraph text-justify px-5">
                Rinnoviamo e valorizziamo abitazioni, uffici e locali commerciali. Dalla
                progettazione all’esecuzione, ci occupiamo di interventi completi: demolizioni, rifacimenti di
                pavimenti e pareti, impianti elettrici e idraulici, finiture e tinteggiature, garantendo qualità e
                sicurezza.
            </p>
        </div>

        <!-- SERVIZIO -->
        <div class="col-12 col-xl-4 service-item text-center services-borders py-3 p-xl-0">
            <!-- ICONA -->
            <i class="service-icon bi bi-buildings-fill"></i>
            <!-- TITOLO SERVIZIO -->
            <h3 class="service-title font-title">Costruzioni Nuove</h3>
            <!-- DESCRIZIONE SERVIZIO -->
            <p class="service-description font-paragraph text-justify px-5">
                Realizziamo edifici residenziali e commerciali chiavi in mano, rispettando tempi e budget. Gestiamo
                tutte le fasi: scavi, fondamenta, strutture
                portanti, coperture, infissi e finiture. Puntiamo a costruzioni solide, efficienti e certificate secondo
                le normative vigenti.
            </p>
        </div>

        <!-- SERVIZIO -->
        <div class="col-12 col-xl-4 service-item text-center py-3 p-xl-0">
            <!-- ICONA -->
            <i class="service-icon bi bi-gear-wide-connected"></i>
            <!-- TITOLO SERVIZIO -->
            <h3 class="service-title font-title">Manutenzione e Riparazioni</h3>
            <!-- DESCRIZIONE SERVIZIO -->
            <p class="service-description font-paragraph text-justify px-5">
                Offriamo interventi di manutenzione ordinaria e straordinaria per mantenere gli edifici in perfetto
                stato. Riparazioni rapide di strutture, tetti, facciate, impianti e infissi, con attenzione alla
                sicurezza e alla durabilità dei lavori.
            </p>
        </div>
    </div>
</div>