.about-us-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: stretch;

    @media (max-width: 1440px) {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

.about-us-container {
    background-color: var(--white-color);
    padding: 2rem 0;
    border-radius: 0px;

    .about-us-img-container {
        width: 100%;
        overflow: hidden;
        padding: 0 1rem 0 0;

        .img-about-us {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: 12px;
        }


        @media (max-width: 1440px) {
            padding: 0;
        }
    }

    .about-us-description {
        text-align: justify !important;
    }
}

.about-card {
    position: relative;
    height: 220px;
    border-radius: 16px;
    overflow: hidden;
    padding: 2rem;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* animazione card */

.about-card:hover {
    transform: translateY(-6px);
    opacity: 0.92;
}

/* colori */

.about-card.mission {
    background: var(--primary-color);
}

.about-card.vision {
    background: var(--secondary-color);
}

.about-card.values {
    background: var(--dark-primary-color);
}

/* titolo iniziale */
.about-title {
    /* bisogna stare attenti ai @importat perche altrimenti non si modificano */
    font-family: "Poppins", sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    /* letter-spacing: 0.1rem; */

    font-size: 22px;
    transition: all 0.35s ease;

    text-transform: uppercase;

    position: absolute;
    bottom: 40%;
    left: 2rem;
    right: 2rem;
}

/* contenuto nascosto */
.about-content {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.35s ease;
}

/* hover */
.about-card:hover .about-title {
    bottom: 70%;
    font-size: 18px;
    font-weight: 700 !important;
}

.about-card:hover .about-content {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 992px) {

  .about-title {
    bottom: 70%;
    font-size: 20px !important;
  }

  .about-content {
    opacity: 1;
    transform: none;
  }

}