#container-work-with-us,
#container-contact-us {
    min-height: 701.59px !important;
}

.row-form {
    padding: 1rem;
    border-radius: 16px;
    background-color: var(--grey-color);
}

.form-control {
    min-height: 3.5rem !important;
    font-size: 16px;
    border-radius: 12px;
    padding: 1rem;
}

@media (min-width: 1200px) {
    .contacts-container {
        padding: 2rem;
    }
}

.form-container {
    padding: 1rem;
    background: var(--primary-linear-gradient);
    border-radius: 16px;
    height: 100%;
}

#form-contact-us,
#form-work-with-us {
    padding: 0 !important;
}

.form-description-container {
    border-radius: 16px;
    align-items: start;
    align-content: start;
    min-width: 0;
    display: flex;
    flex-direction: column;
    height: 100%;

    .jobDescription-title {
        text-transform: uppercase;
        font-size: 50px !important;
    }
}

.contact-item {
    color: var(--dark-color);
    transition: color 0.3s ease;
    min-width: 0;
}

.contact-item:hover {
    color: var(--secondary-color);
}

.contact-value {
    word-break: break-word;
}

.contact-icon {
    font-size: 22px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.contact-label {
    font-size: 12px;
    opacity: 0.7;
}

.contatti {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    justify-content: start;
    align-items: start;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        padding: 1rem 0 2rem 0;
    }
}

.form-description-title {
    text-transform: uppercase;
    font-size: 40px !important;
    letter-spacing: normal;
    color: var(--dark-primary-color);
}

.form-label {
    color: var(--white-color);
}

.messaggio-contact-us {
    height: 16rem;
    resize: vertical;
}

/* --- ANIMAZIONE SLIDER --- */
.form-slider {
    position: relative;
    overflow: hidden;
}

.row-form {
    position: absolute;
    width: 100%;
    top: 0;
    left: 12px;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.4s ease;
    pointer-events: none;
}

.row-form.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
    position: relative;
}

.row-form.exit-left {
    transform: translateX(-50px);
    opacity: 0;
}

.row-form.exit-right {
    transform: translateX(50px);
    opacity: 0;
}

.form-slider {
    position: relative;
    overflow: hidden;
}

.form-slider.fixed-height {
    transition: height 0.3s ease;
}

/* //////////////////////////// */