#container-work-with-us,
#container-contact-us {
    min-height: 700px;
}

.contacts-container {
    padding: 2rem;
}

.row-form {
    padding: 1rem;
    border-radius: 16px;
    background-color: var(--grey-color);
}

.form-container {
    padding: 1rem;
    background: var(--primary-linear-gradient-reverse);
    border-radius: 16px;
    height: 100%;
}

#form-work-with-us,
#form-contact-us {
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.form-control {
    min-height: 3.5rem;
    font-size: 16px;
    border-radius: 12px;
    padding: 1rem;
}

.form-label {
    color: var(--white-color);
}

/* .messaggio-contact-us {
    height: 16rem;
    resize: vertical;
} */

.form-description-title {
    text-transform: uppercase;
    font-size: 40px;
    color: var(--dark-primary-color);
}

.jobDescription-title {
    text-transform: uppercase;
    font-size: 48px;
}

.contatti {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    justify-content: center;
    width: 100%;
}

.contact-item {
    color: var(--dark-color);
    transition: color 0.3s ease;
}

.contact-item:hover {
    color: var(--secondary-color);
}

.contact-value {
    word-break: break-word;
}

.contact-icon {
    font-size: 22px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.contact-label {
    font-size: 12px;
    opacity: 0.7;
}

.form-description-container {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    min-width: 0;
    height: 100%;
}

.form-slider {
    position: relative;
}

.form-slider.fixed-height {
    transition: height 0.3s ease;
}

.row-form {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(50px);
    transition: all 0.4s ease;
    pointer-events: none;
}

.row-form.active {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
    position: relative;
}

.row-form.exit-left {
    transform: translateX(-50px);
    opacity: 0;
}

.row-form.exit-right {
    transform: translateX(50px);
    opacity: 0;
}

@media (max-width: 991px) {
    #form-work-with-us,
    #form-contact-us {
        margin: 0 !important;
        padding: 0 !important;
    }
}

@media (max-width: 768px) {
    .contatti {
        grid-template-columns: 1fr;
        padding: 1rem 0 2rem;
    }
}