.hero {
    height: 88vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/hero_images/halmaci_work.webp");
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 0 0 16px 16px;
    margin: 0 1rem 1rem 1rem;

    @media (max-height: 1200px) {
        height: 78vh;
    }
}

.hero-container {

    padding: 0 3rem;

    .hero-title {
        font-size: clamp(2rem, 4vw, 3rem);
        font-weight: 700;
        color: white;
    }

    .hero-subtitle {
        font-size: 1.1rem;
        color: white;
    }

    .hero-trust {
        color: white;
    }

}