.service-container {
    min-height: 30vh;
    padding: 2rem;
    background-color: var(--grey-color);

    .section-title {
        margin: 0 0 2rem 0;

        span {
            font-size: 30px;
            border-color: var(--secondary-color) !important;
        }

        letter-spacing: 0.3rem;
    }
}

.service-item {
    color: var(--primary-color);

    .service-icon {
        font-size: 64px;
    }

    &:hover {
        transform: scale(1.01);
        color: var(--secondary-color);
        transition: all 0.3s ease;
    }

    .service-title {
        padding: 1.5rem 0 0 0;
    }
}

.services-borders {
    border-right: 0.1px solid var(--secondary-color);
    border-left: 0.1px solid var(--secondary-color);

    @media (max-width: 1199px) {
        border: none;
        border-top: 0.1px solid var(--secondary-color);
        border-bottom: 0.1px solid var(--secondary-color);
        padding: 1rem 0 1rem 0;
    }
}