.service-container {
    background-color: var(--white-color);
}

.service-item {
    position: relative;
    padding: 0 2rem 0 2rem;
    color: var(--primary-color);

    & .service-icon {
        font-size: 64px;
        transition: all 0.3s ease;
    }

    & .service-title {
        padding-top: 1.5rem;
        font-size: 24px;
    }

    &>* {
        transition: transform 0.3s ease;
    }

    &:hover>* {
        transform: scale(1.05);
    }

    &:hover .service-icon {
        color: var(--secondary-color);
        font-size: 60px;
        transition: all 0.3s ease;
    }
}