@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* --primary-color: #024154;
  --dark-primary-color: #0a1418;
  --secondary-color: #009aa5;
  --white-color: #fdfdfd;
  --grey-color: #e0eff1; */
  --primary-color: #024154;
  --dark-primary-color: #0a1418;
  --secondary-color: #009aa5;
  --white-color: #f8f8f8;
  --grey-color: #e3e3e3;

  --green-color: #27bd27;
  --dark-green-color: #208e20;
  --red-color: #da2929;
  --dark-red-color: #9f1c1c;
  --primary-linear-gradient: linear-gradient(to top left, var(--secondary-color) 0%, var(--primary-color) 70%, var(--primary-color) 100%);
  --green-linear-gradient: linear-gradient(to top left, var(--green-color) 0%, var(--dark-green-color) 70%, var(--dark-green-color) 100%);
  --red-linear-gradient: linear-gradient(to top left, var(--red-color) 0%, var(--dark-red-color) 70%, var(--dark-red-color) 100%);
}

html {
  scroll-behavior: smooth;
}

/* DEFINIZIONE DIMENSIONI TESTI */
.font-title {
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  font-style: normal !important;
  font-size: 16px;
}

.font-paragraph {
  font-size: 16px;
  text-align: left;
  font-weight: 400 !important;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* MODELLI DI TESTI */
.section-title {
  font-family: "Poppins", sans-serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
  margin: 0 0 2rem 0;
  letter-spacing: 0.3rem;
  padding: 0 0 1.5rem 0;
  text-transform: uppercase;
  position: relative;

  span {
    font-size: 36px;
    position: relative;
  }

  .title-first-part {
    font-size: 36px;
  }

  .title-second-part {
    font-weight: 700;
    margin: 0 0 0 4rem;
    font-size: 38px;
    color: var(--primary-color);
  }
}

/*******************/

/* BOTTONI CUSTOM */
.btn-custom {
  background: var(--primary-linear-gradient);
  background-size: 200% 200%;
  background-position: 0% 0%;
  transition: all 0.3s ease;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--white-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.8rem 1rem;
  text-decoration: none;
  border-radius: 12px;
  border: none;

  i {
    transition: all 0.3s ease;
  }

  &:hover {
    font-weight: 700;
    background-position: 100% 100%;

    i {
      transform: scale(1.3);
    }
  }
}

.btn-custom-ghost {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  font-size: 16px;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0.8rem 1rem;
  text-decoration: none;
  border-radius: 12px;
  transition: all 0.3s ease;

  i {
    transition: all 0.3s ease;
  }

  &:hover {
    font-weight: 700;
    background-color: var(--primary-color);
    color: var(--white-color);

    i {
      transform: scale(1.3);
      transition: all 0.3s ease;
    }
  }
}

.btn-call-now {
  --primary-linear-gradient: var(--green-linear-gradient);
  color: var(--white-color) !important;
}

.btn-call-now-navbar {
  @media (max-width: 991px) {
    width: 3rem !important;
    height: 3rem !important;

    i {
      margin: 0 !important;
    }

    span {
      display: none !important;
    }
  }
}

.btn-reset-form {
  --primary-color: var(--red-color) !important;
  color: var(--red-color) !important;

  &:hover {
    color: var(--white-color) !important;
  }
}

.container-custom {
  padding: 5rem 0 !important;
  width: 100% !important;
  max-width: 100% !important;

  @media (max-width: 991px) {
    padding: 3rem 1rem !important;
  }
}

.img-custom {
  border-radius: 12px;
}