.work-with-us-form {
    padding: 1rem;
    border-radius: 16px;
    background-color: var(--grey-color);
}

.form-control {
    min-height: 3.5rem !important;
    padding: 1rem;
    font-size: 16px;
    border-radius: 12px;
}

@media (min-width: 1200px) {
    .work-with-us-container {
        padding: 2rem;
    }
}